.calculator {}

.input-nums {
    width: 700px;
    height: 80px;

    padding: 0 10px;

    font-size: 44px;
    text-align: right;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numpad {
    width: 100%;

    margin-top: 20px;

    display: inline-grid;
    justify-content: center;

    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.key-numpad {
    width: 100px;
    height: 40px;

    font-size: 24px;

    border-radius: 12px;
    border: none;
    
    &:hover{
        background-color: rgb(150, 150, 150);
    }
    &:active{
        border: 1px solid rgb(237, 237, 237);
    }
}

.key-zero {
    grid-column: span 2;
}